.pageNumbers {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .pageNumbers li {
    padding: 10px;
    border: 1px solid #d4d4d5;
    cursor: pointer;
    color: #428BCA;
    font-size: 16px;
}
  
  .pageNumbers li.active {
    background-color: #428BCA;
    color: rgb(255, 255, 255);
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    color: #428BCA;
    font-size: 1.5rem;
    cursor: pointer;
  }
 
  
